* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #808080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Verdana, Arial, sans-serif;
}

canvas {
  display: block;
  border: 5px solid white;
  max-width: 95vw;
  max-height: 95vh;
}
